/* src/Home.css */
.row.main-content {
  margin: 2rem;
}

.home {
  text-align: center;
  margin: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 2em;
  color: #333;
}

p {
  font-size: 1.2em;
  color: #666;
}
